<input id="video-url" type="url" class="form-control" aria-label="...">
<div class="input-group-btn">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    <li><a href="#" data-type="video">Video</a></li>
    <li><a href="#" data-type="playlist">Playlist</a></li>
  </ul>
</div>
