<table class="table table-striped">
  <thead>
    <tr>
      <th style="width:20px;"></th>
      <th class="text-primary">Title</th>
      <th class="text-primary" style="width:20px;"><a id="check-all" href="#">Download</a></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="text-center">
  <button class="btn btn-default btn-download" type="submit">Download</button>
</div>
