<td>
  <span class="glyphicon glyphicon-refresh glyphicon-spin hidden"></span>
  <span class="glyphicon glyphicon-ok hidden"></span>
  <span class="glyphicon glyphicon-remove hidden"></span>
</td>
<td>{{snippet.title}}</td>
<td class="text-center">
  <input type="checkbox">
</td>
